services:
  discord-bot:
    build: .
    container_name: work-timer-bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./data:/data
    environment:
      - TZ=Asia/Tokyo
    deploy:
      resources:
        limits:
          cpus: "0.50" # CPU使用率を最大50%に制限
          memory: 256M # メモリ使用量を最大256MBに制限
    init: true
